.product {
    margin: 0;
    overflow: auto;   
}

div.product.thumbnail { background-color: darkgoldenrod;}

.product__price {
    display: inline-block;
    line-height: 34px;
   
}

.product__button-wrap {
    float: right;
}